*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}


.btn{
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover{
  background: '#666';
}

.firstContainter{
  background-color: lightgray;
  padding-top: 10px;
  display: flex;
}

@media (max-width:700px){
  body{
    font-size: 14px;
    line-height: 2;
    word-wrap: break-word;
  }
}

.bckImg{
  display: flex;
  padding: 50px 50px;
  flex-basis: 15%;
  width: 45%;
}


.firstLine{
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 1%;
  text-shadow: black;
  height: 100%;
  font-size: 50px;
  display: flex;
}

.secondContainer{
  width: 100%;
  text-align: center;
}
.secondLine{
  font-size: 50px;
}

@media (max-width:1500px){
  .firstLine{
    padding-left: 3%;
  }
}

@media (max-width:1000px){
  .firstLine{
    padding-left: 3%;
    font-size: 35px;
  }
  .bckImg{
    margin: 40px;
    padding: 0px;
  }
}

@media (max-width:700px){
  .firstLine{
    padding-left: 2%;
    font-size: 35px;
    padding-top: 5%;
  }
  .bckImg {
    margin: 20px;
    padding: 0px;
  }
}

@media (max-width:500px){
  .firstLine{
    text-align: center;
    font-size: 50px;
    padding: 5px;
  }

  .bckImg {
    order: 2;
    width: 88%;
  }

  .firstContainter{
    flex-direction: column;
  }
}

@media (max-width:400px){
  .firstLine{
    text-align: center;
    font-size: 50px;
    padding: 5px;
  }

  .bckImg {
    order: 2;
    width: 88%;
  }

  .firstContainter{
    flex-direction: column;
  }
}