*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}

a {
  color: #333;
  text-decoration: none;
}


.btn{
  display: inline-block;
  border: none;
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover{
  background: '#666';
}

.firstContainter{
  background-color: lightgray;
  padding-top: 10px;
  display: flex;
}

@media (max-width:700px){
  body{
    font-size: 14px;
    line-height: 2;
    word-wrap: break-word;
  }
}

.bckImg{
  display: flex;
  padding: 50px 50px;
  flex-basis: 15%;
  width: 800px;
}


.firstLine{
  text-align: center;
  padding: 50px;
  text-shadow:rgba(0, 0, 0, 0.7) 0px 0px 11px;
  font-size: 50px;
  display: flex;
}